// nextflow.config
manifest {
    description = 'Co-expression Network Pipeline with corinet'
    author = 'Liane Muir'
    mainScript = 'main.nf'
}

params {
    counts = 'data/test/counts.tsv'
}

// Work directory
workDir = './work'

// Profiles 
profiles {
    docker {
        docker.enabled = true
        docker.image = 'hw2-liane-m:0.0.2'
    }
    conda {
        conda.enabled = true
        process.conda = 'environment.yml'
    }
}
